.about-h1{
    background-color:#8a8e8e;
    padding: 80px;
    text-align: center;
    color: aliceblue;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.about-img img {
    max-width: 300px;
}