.h {
  height: 90vh;
  object-fit: cover;
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  .h {
    max-height: 90vh;
    object-fit: cover;
    top: 0;
  }
}
@media (max-width: 767px) {
  .h {
    max-height: 90vh;
    object-fit: cover;
  }
  .carousel-caption{
    top: 25%;
  }
}

.carousel-itemm {
  position: relative;
}
.carousel-itemm::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #0e38ad;
  opacity: 0.6;
}

.carousel-caption {
  justify-content: center;
  margin: 0;
  padding-top: 0;
}
.carousel-caption h3 {
  font-size: 3rem;
  font-weight: 700;
  color: aliceblue;
  font-family: "Prata", "serif";
}
.carousel-caption p {
  font-size: 1rem;
  /* top: 2rem; */
  color: white;
  font-family: "Prata", serif;
}
.carousel-caption a button {
  display: inline-block;
  font-size: 5px;
}

@media only screen and (min-width: 1200px) {
  .carousel-caption {
    bottom: 10vh;
    padding-left: 100px;
    padding-right: 100px;
  }

  .carousel-caption h3 {
    font-size: 4rem;
    font-weight: 700;
    color: aliceblue;
  }
  .carousel-caption p {
    font-size: 20px;
    color: aliceblue;
  }
  .carousel-caption a button {
    font-size: 15px;
  }
}
